@model FinalDatabaseFirst.Models.CreditCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardSecurityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardSecurityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus.CusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CreditCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
