@model FinalDatabaseFirst.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBriefDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBriefDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
