@model IEnumerable<FinalDatabaseFirst.Models.Orders>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color: lightgray">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prod)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp.EmpId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment.PaymentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prod.ProdId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
